# Python
*.pyc
__pycache__/
.Python
env/
venv/
.venv/

# Virtualenv
.venv/
env/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.pytest_cache/
htmlcov/

# Django stuff:
db.sqlite3
staticfiles/
media/

# Local data files (do not commit)
data.json
users.json

# IDEs
.idea/
.vscode/

# OS
.DS_Store
